<html>
  <head>
    <meta charset="UTF-8" />
    <title>Generated Image</title>
    <link
      rel="stylesheet"
      {{#if RESOURCES_URL}}
      href="{{RESOURCES_URL/tailwind.min.css}}"
      {{else}}
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      {{/if}}
    />
    <style>

      * { filter: saturate(0.9); }
    </style>
  </head>
  <body>
    <div class="text-center flex justify-center items-center h-screen">
      <div
        class="flex flex-col justify-center items-center bg-white text-black p-0"
      >
        {{#if brandEnabled}}
          <img src="data:image/png;base64,{{image}}" class="{{brandSize}}" />
        {{/if}}
        {{#if plateEnabled}}
          <p
            class="{{plateSize}} mt-0 mb-0"
            style="line-height: 1;"
          >{{texto1}}</p>
        {{/if}}
        {{#if chassisEnabled}}
          <p
            class="{{chassisSize}} t-0"
            style="line-height: 0.9; letter-spacing: -0.05em;"
          >{{texto2}}</p>
        {{/if}}
      </div>
    </div>
  </body>
</html>